<div style="
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);"">
    <h1> ERROR : 404 </h1>
    <h3> The file you are looking for can't be found </h3>
    <a href="/"> Return to Home </a>
</div>
