<div style="
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);"">
    <h1>
        ERROR : 500
    </h1>
    <h3> The server can't be accessed right now, <br> because of server issues </h3>
    <h3> Please try again later </h3>
    <a href="/"> Return to home </a>
</div>
