


		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">About Tournament</a></li>
							<li><a href="#two">About US</a></li>
							<li><a href="#three">Register</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>MONTHLY TOURNAMENT <br> PUBG<br>JUNE  2020</h1>
							<p>
								<h2 > ENTRY FEE : &#8377; 200/- </h2>  <br>
								<!-- <h3> Second Prize : &#8377; 1000/- </h3> <br>
								<h4> Third Prize : &#8377; 500/- </h4>  -->
								<h2> JUNE 20  <sup> th </sup> </h2> 
							</p>
							<ul class="actions">
								<li><a href="#three" class="button scrolly">Participate Now</a></li>
								<li><a href="#one" class="button scrolly">About Tournament</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="/images/banner-16.png" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>About Tournament</h2>
									<p>
										<big> Tournament Type : </big> Knockout <br>
										<big> Total Prize Pool :  </big> &#8377; 3000/- <br>
										<big> Registration Fees </big> &#8377; 200/- (per team) <br>
										<!-- <big> Prizes :  </big> <br> -->
										<ol>
											<li> First prize : &#8377; 1500/- </li>
											<li> Second prize : &#8377; 1000/- </li>
											<li> Third prize : &#8377; 500/- </li>
										</ol>
										<big> Rules: </big><a href="/rules"> Click here </a> to view all the tournament rules. <br>
										<big> Standings: </big><a href="/standings"> Click here </a> to view the tournament standings. <br>
									</p> 
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>About Us</h2>
							<p>We are an entusiastic group that aims to make eSports mainstream and easily accessible. <br></p>
							<div class="features">
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Online Tournaments</h3>
									<p>Online tournaments have a reach that no other form of tournament will have. We organise tournaments online so that they reach to every region</p>
								</section>
								<section>
									<span class="icon solid major fa-level-down-alt"></span>
									<h3>Affordable Tournaments</h3>
									<p>Making Tournaments affordable to participate in makes the reach ever go farther.</p>
								</section>
								<section>
									<span class="icon solid major fa-rupee-sign"></span>
									<h3>Big Prize Pools</h3>
									<p>Big Prize Pools makes sence if you look at eSports as a career.</p>
								</section>
								<section>
									<span class="icon solid major fa-paper-plane"></span>
									<h3>Regular Tournaments</h3>
									<p>Constant stream of tournaments makes eSports exciting.</p>
								</section>
							</div>
						</div>
					</section>

				<!-- Three --> <!-- commenting out registration form for obvious reasons -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Participate Now</h2>
							<p>
								Participate in the tournament by filling the form given below. <br>
								Participate button will redirect you to a payment getway to pay the required participation fees. <br>
								After payment, you'll be successfully registered for the tounament.
							</p>
							<div class="style1">
								<section>
									<form id="regForm" action="/register" method="POST">
										<div class="fields">
											<div class="tab field fade-up">
												<label for="teamName">Team Name (unique)</label>
												<input type="text" name="teamName" id="teamName" />
												<p id="message"> </p>
											</div>
											<div class="tab field"> <h2> Player 1 Info: </h2>
												<div class="field half fade-up">
													<label for="player1">In-game Username</label>
													<input type="text" name="player1" id="player1" />
												</div>
												<div class="field half">
													<label for="player1Email">Email</label>
													<input type="email" name="player1Email" id="player1Email" />
												</div>
												<!-- <div class="field half">
													<label for="player1City">City (optional)</label>
													<input type="text" name="player1City" id="player1City" />
												</div>
												<div class="field half">
													<label for="player1State">State (optional)</label>
													<input type="text" name="player1State" id="player1State" />
												</div> -->
											</div>
											<div class="tab field fade-up"> <h2> Player 2 Info:(Optional) </h2>
												<div class="field half">
													<label for="player2">In-game Username</label>
													<input type="text" name="player2" id="player2" />
												</div>
												<div class="field half">
													<label for="player2Email">Email</label>
													<input type="email" name="player2Email" id="player2Email" />
												</div>
												<!-- <div class="field half">
													<label for="player2City">City (optional)</label>
													<input type="text" name="player2City" id="player2City" />
												</div>
												<div class="field half">
													<label for="player2State">State (optional)</label>
													<input type="text" name="player2State" id="player2State" />
												</div> -->
											</div>
											<div class="tab field fade-up"> <h2> Player 3 Info:(Optional) </h2>
												<div class="field half">
													<label for="player3">In-game Username</label>
													<input type="text" name="player3" id="player3" />
												</div>
												<div class="field half">
													<label for="player3Email">Email</label>
													<input type="email" name="player3Email" id="player3Email" />
												</div>
												<!-- <div class="field half">
													<label for="player3City">City (optional)</label>
													<input type="text" name="player3City" id="player3City" />
												</div>
												<div class="field half">
													<label for="player3State">State (optional)</label>
													<input type="text" name="player3State" id="player3State" />
												</div> -->
											</div>
											<div class="tab field fade-up"> <h2> Player 4 Info:(Optional) </h2>
												<div class="field half">
													<label for="player4">In-game Username</label>
													<input type="text" name="player4" id="player4" />
												</div>
												<div class="field half">
													<label for="player4Email">Email</label>
													<input type="email" name="player4Email" id="player4Email" />
												</div>
												<!-- <div class="field half">
													<label for="player4City">City (optional)</label>
													<input type="text" name="player4City" id="player4City" />
												</div>
												<div class="field half">
													<label for="player4State">State (optional)</label>
													<input type="text" name="player4State" id="player4State" />
												</div> -->
											</div>
										</div>
									
										<div style="overflow:auto;">
										
											<ul class="actions">
												<li><button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button></li>
												<li><button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button></li>
												<li><button type="button" id="skipBtn" onclick="skip(1)">Skip</button></li>
												<li><button id="rzp-button1" type="submit">Participate</button></li>
											</ul>
										
										</div>
									
										<div style="text-align:center;margin-top:40px;">
										  <span class="step"></span>
										  <span class="step"></span>
										  <span class="step"></span>
										  <span class="step"></span>
										  <span class="step"></span>
										</div>
									</form> 
								</section> 
							</div>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>



		<!-- Scripts -->
		
